{% comment %} <div class="publications">
  {% bibliography --group_by none --query @*[selected=true]* %}
</div> {% endcomment %}

<!-- _pages/publications.md -->
<div class="publications">

{% bibliography %}

</div>
