{% comment %} <div class="publications">
  {% bibliography --group_by none --query @*[selected=true]* %}
</div> {% endcomment %}

<!-- _pages/projects.md -->
<div class="publications project-grid">

{% bibliography --query @*[project=true]* %}

</div>
